h1 .logo{
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg);
}

h1 a{
  width: 150px;
  height: 42px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.fz-12{
  font-size: 12px;
}

.fz-14{
  font-size: 14px;
}

a{
  color: #121212;
}

.sidebar{
  height: auto;
  a{
    color: #121212;
  }
}

.content{
  max-width: 984px;
}

.pic{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

mark{
  background: #EDF4EE;
  color: #2A8356;
}

.zip_btn{
  width: 175px;
}

.list-style_disc{
  list-style-type: disc ;
}

.border-top_none{
  border-color: #fff;
}